.App {
  text-align: center;
}

.card{
 margin:10px auto;
 padding: 10px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 border-radius: 25px;
}
.input{
  display: inline-flex;
  margin: 10px;
}
.button{
  display:inline-flex;
  margin: 5px;
}
input{
  border-radius: 20px;
  font-size: 20px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 5px;
}

button{
  padding:10px 15px;
  border:none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
  background-color: grey;
  border:2px black;
  color:aliceblue;
}